* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", sans-serif;
  margin-left: 80px;
  margin-right: 200px;

}

h1 {
  padding-top: 20px;
  padding-bottom: 50px;
}

h2 {
  padding-bottom: 5px;
}

.title2 {
  padding-top: 100px;
  padding-bottom: 5px;
}

/* .container {
  margin: auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
} */

/* header {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px 5px 0 0;
} */

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}



button[type="submit"] {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

.success,
.error {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.success {
  background-color: #c8e6c9;
  color: #2e7d32;
}

.error {
  background-color: #ffcdd2;
  color: #c62828;
}

.submit {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  text-align: center;
  margin-top: 10px; 
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 500px) {
  .form-container,
  .table-container {
    max-width: 100%;
    width: 100%;
  }
}
