<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <title>Password Manager</title>
  </head>
  <body>
    <h1>Password Manager</h1>
    
    <div class="form">
      <h2>Login</h2>
      <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <br />
        <label for="Password">Password</label>
        <input type="password" id="password" name="password" required />
        <br />
        <button type="submit">Login</button>
      </form>
    </div>
    
    <button class='submit' type="submit"><a href="register">Register</a></button>
    
    <script>
      const loginForm = document.getElementById("login-form");
      loginForm.addEventListener("submit", (event) => {
        event.preventDefault();

        const username = loginForm.elements["username"];
        const password = loginForm.elements["password"];
        const formData = {
          username: username.value,
          password: password.value,
        };
        const ob1 = JSON.parse(formData);
        fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(ob1),
        });
        // TODO: Use fetch() to send username and password to server for validation
      });

      // Handle add password form submission
      const addPasswordForm = document.getElementById("add-password-form");
      addPasswordForm.addEventListener("submit", (event) => {
        event.preventDefault();

        const newPassword = addPasswordForm.elements["new-password"].value;

        // TODO: Use fetch() to send new password to server to be added
      });
    </script>
  </body>
</html>
