<!DOCTYPE html>
<!-- joel stinky -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/signup.css')
    }}"
    />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>

      <form>
        <div class="input-fields">
          <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
          </div>

          <div>
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              autocomplete="on"
              value=""
              required
            />
          </div>

          <div>
            <label for="confirmpassword">Confirm Password:</label>
            <input
              type="password"
              id="confirmpassword"
              name="confirmpassword"
              autocomplete="on"
              value=""
              required
            />
          </div>
        </div>

        <div>
          <button type="submit" onClick="checkPassword()"><a id="web" href="/">Sign Up</a></button>
        </div>
      </form>
    </div>
  </body>

  <script>
    function checkPassword() {
      var password1 = document.getElementById("password").value;
      var password2 = document.getElementById("confirmpassword").value;

     if (password1 != password2) {
       alert("Passwords did not match");
       document.getElementById('web').setAttribute('href', 'signup');
       // window.location.href="signup.html"
      }
      
    }
  </script>

</html>
<!-- joel smelly cat-->
