<!DOCTYPE html>
<!-- joel stinky -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/signup.css')
    }}"
    />
    <title>Sign Up</title>
  </head>

  <script>
    function checkPassword(form) {
        password1 = form.password.value;
        password2 = form.confirm-password.value;

        if (password1 !== password2 ) {
            alert("passwords did not match");
        }
    }
  </script>

  <body>
    <div class="container">
      <h1>Sign Up</h1>
     
      <form>
        <div class="input-fields">
            <div>
            <label for="username" >Username:</label>
            <input type="text" id="username" name="username" required/>
            </div>
            
            <div>
            <label for="password" name="password" id="password">Password:</label>
            <input type="password" id="password" name="password" required />
            </div>
            
            <div>
            <label for="confirm-password" id="confirm-password" name="confirm-password">Confirm Password:</label>
            <input
                type="password"
                id="confirm-password"
                name="confirm-password"
                required
            />
            </div>
        </div>
        
        <div>
          <button type="submit" onClick="checkPassword(this)">Sign Up</button>
        </div>
      
    </form>
    </div>
  </body>
</html>
<!-- joel smelly cat-->