<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/web.css') }}"
    />
    <title>Passwords</title>
  </head>
  <body>
    <div class="container">
      {% if username is not none %}
      <header>Passwords</header>
      <div class="success">
        <p>Here are your passwords:</p>
        <ul>
          {% for password in passwords %}
          <li>{{ password }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% if error %}
      <div class="error">
        <p>{{ error }}</p>
      </div>
      {% endif %}
    </div>
  </body>
</html>
