<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- List passwords if username is not null -->
    { % if username is not none %}
    <h2> Passwords </h2>
    <ul>
        { % for password in passwords %}
        <li>
            <p> { { password } } </p>
        </li>
        { % endfor %}
    </ul>
    { % endif %}
    
</body>
</html>